:root {
  --white:        #FFF;
  --black:        #000;
  --gray-darker:  #232323;
  --gray-dark:    #333333;
  --gray:         #565656;
  --gray-light:   #777777;
  --gray-lighter: #efefef;
  --success:      #4cb95d;
  --info:         #6bc1df;
  --warning:      #f09d4c;
  --danger:       #c9434e;
  --blue:         #539bcb;
  --primary:      #3b8cc2;
}

$white:           var(--white) !default;        /* @name: White; */
$black:           var(--black) !default;        /* @name: Black; */
$gray-darker:     var(--gray-darker) !default;  /* @name: Gray Darker; */ 
$gray-dark:       var(--gray-dark) !default;    /* @name: Gray Dark; */  
$gray:            var(--gray) !default;         /* @name: Gray; */
$gray-light:      var(--gray-light) !default;   /* @name: Gray Light; */
$gray-lighter:    var(--gray-lighter) !default; /* @name: Gray Lighter; */

$success:         var(--success) !default;      /* @name: Success */
$info:            var(--info) !default;         /* @name: Info */
$warning:         var(--warning) !default;      /* @name: Warning */
$danger:          var(--danger) !default;       /* @name: Danger */
$primary:         var(--primary) !default;      /* @name: Primary */
$muted:           var(--gray-light) !default;   /* @name: Muted */