$white: #FFF !default; /* @name: White; */
$black: #000 !default; /* @name: Black; */
$gray-darker:     lighten($black, 13.6%) !default; /* @name: Gray Darker; */ 
$gray-dark:       lighten($black, 20.1%) !default; /* @name: Gray Dark; */  
$gray:            lighten($black, 33.6%) !default; /* @name: Gray; */
$gray-light:      lighten($black, 46.8%) !default; /* @name: Gray Light; */
$gray-lighter:    lighten($black, 93.6%) !default; /* @name: Gray Lighter; */

$success:         #4cb95d !default; /* @name: Success */
$info:            #6bc1df !default; /* @name: Info */
$warning:         #f09d4c !default; /* @name: Warning */
$danger:          #c9434e !default; /* @name: Danger */
$primary:         darken(#539bcb, 6.5%) !default; /* @name: Primary */
$muted:           $gray-light !default; /* @name: Muted */