$white: #FFF !default; /* @name: white */
$black: #000 !default;
$gray-darker:     lighten($black, 13.6%) !default;
$gray-dark:       lighten($black, 20.1%) !default;   
$gray:            lighten($black, 33.6%) !default; 
$gray-light:      lighten($black, 46.8%) !default; 
$gray-lighter:    lighten($black, 93.6%) !default; 

$success:         #4cb95d !default;
$info:            #6bc1df !default;
$warning:         #f09d4c !default;
$danger:          #c9434e !default;
$primary:         darken(#539bcb, 6.5%) !default;
$muted:           $gray-light !default;